body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: scroll;
  height: 100vh;
  max-height: 5000px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root_body {
  position: fixed;
  top: 0;
  width: 100vw ;
  display: flex;
  /* 水平置中 */
  justify-content: center;
  /* 垂直置中 */
  align-items: center;
}

.Bgm_green {
  position: fixed;
  top: 50%;  
  left: 50%;
  transform: translate(-50%, -50%);
}

img.background-image {
  width: 100vw;
  height: 100vh;
  /* padding: 67.9px 247.4px 44.6px 244.6px; */
  /* object-fit: contain;*/
}

img.Stall-image-green {
  width: 1428px;
  height: 966.2px;
  margin: 0.2px 0 1px;
  /* padding: 57.6px 48.2px 39.8px 51.3px; */
  /* object-fit: contain; */
}

img.InvalidName-img{
  position: fixed;
  top: 392.7px;
  left: 325px;
  height: 399.6px;
  width: 713.7px;
}

img.InvalidName1-img{
  position: fixed;
  top: 418.8px;
  left: 51.3px;
  height: 170.2px;
  width: 170.2px;
}

img.InvalidName2-img{
  position: fixed;
  top: 57.6px;
  left: 399.8px;
  height: 81.9px;
  width: 124.9px;
}

.AcrImage_div{
  position: fixed;
  top: 407px;
  left: 1106.6px;
  height: 353.8px;
  width: 273.1px;
}

img.AcrImage-img{
  position: relative;
  top: 0;
  left: 0;
  height: 353.8px;
  width: 273.1px;
}

.WebIcon-img{
  position: absolute;
  top: -26.2px;
  left: 194.4px;
  height: 52.6px;
  width: 52.6px;
}

.AcrImage_index_div{
  position: absolute;
  top: 50%;  
  left: 50%;
  width: 207px;
  height: 249.8px;
  display: grid;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.Arc_Text-Style{
  width: 100%;
}

h1{
    width: 215px;
    float: left;
    margin: 0 0 16.3px;
    font-family: NotoSansCJKTC;
    font-size: 13.4px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.59;
    letter-spacing: normal;
    text-align: left;
    color: #333;
}

.back_btn{
  position: fixed;
  top: 0.2px;
  left: 32.4px;
  height: 66.7px;
  width: 66.7px;
  border: none;
  padding: 0;
  border-radius: 50%;
  z-index: 10;
  background: transparent;
}

img.Back-img{
  position: relative;
  top: 0;
  left: 0;
  height: 66.7px;
  width: 66.7px;
}

.ProductsList_btn{
  position: fixed;
  top: 883.8px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 87.6px;
  width: 357.1px;
  border: none;
  padding: 0;
  border-radius: 50%;
  z-index: 10;
  background: transparent;
}

img.ProductsList-img{
  position: relative;
  top: 0;
  left: 0;
  height: 87.6px;
  width: 357.1px;
}

.Text-Style{
  position: fixed;
  top: 66.0px;
  left: 557.5px;
  width: 561.3px;
  height: 51px;
  line-height: 1.33;
  letter-spacing: 8.35px;
  font-family: MicrosoftYaHeiBold-GBpc-EUC-H;
  font-size: 41.7px;
}

.Text-Style-2{
  position: fixed;
  top: 133.4px;
  left: 557.5px;
  width: 563.3px;
  height: 34px;
  font-family: MicrosoftYaHeiGBpc-EUC-H;
  font-size: 30.1px;
  line-height: 0.81;
  letter-spacing: normal;
}

span {
  margin: 0;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #333;
}